@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800; /* The range of weights available in the font */
  font-display: swap; /* Improves performance */
  src: url('./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf')
    format('truetype-variations');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200 800; /* The range of weights available in the font */
  font-display: swap; /* Improves performance */
  src: url('./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf')
    format('truetype-variations');
}

@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", 'sans-serif';

  --color-primary: #6366f1;
  --color-secondary: #A5B4FC;
  --color-background: #F9FAFB;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-border: #E5E7EB;
  --color-danger: #EF4444;
  --color-success: #22C55E;

  --bg-default: var(--color-background);

  --font-weight-bold: 700;
  --font-weight-semi: 600;
  --font-weight-regular: 400;

}


:root {
  font-family: 'Plus Jakarta Sans', 'sans-serif';
  font-size: 16px;
  font-weight: var(--font-weight-regular);
}

#app {
  background-color: var(--bg-gray-100);
}

h1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-semi);
}

h3 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semi);
}